name: CI
on:
  pull_request:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit-checks:
    name: Pre-commit Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Setup pixi
        uses: prefix-dev/setup-pixi@v0.9.4
        with:
          environments: default
          activate-environment: true
      - name: Run pre-commit
        run: pre-commit run --all-files

  unit-test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Setup pixi
        uses: prefix-dev/setup-pixi@v0.9.4
        with:
          environments: default
          activate-environment: true
      - name: Setup minikube cluster
        run: |
          pixi run cluster-create
          pixi run cluster-setup
      - name: Tunnel through load balancer
        run: pixi run cluster-tunnel-lb &
      - name: Run unit tests
        run: pixi run test-coverage
      - name: Upload coverage
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
